/*@import "https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Lobster|Anton|Indie+Flower";


My Custom CSS
=============

Author:  Karan Gumber
Updated: December 2016
Notes:    Hand coded for Hybrid Training

*/


#main {
   border: 1em solid yellow;
}

#home {
	border: 1em solid blue;
}

#fav {
	border: 1em solid green;
}

#manager {
	border: 1em solid cyan;
}